.datosIndvRed {
    display: grid;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgb(37, 185, 253);
    max-height: auto;
    transition: background-color 0.8s ease;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.45);
}

.datosIndvGray {
    display: grid;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #555555;
    margin-bottom: 10px;
    max-height: auto;
    height: 100%;
    width: 100%;
    transition: background-color 0.8s ease;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.45);
}