.all {
    text-align: center;
    background-color: #131313;
    padding: 0; /* Asegura que no haya espacio extra */
    border-radius: 15px;
    color: white;
    height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Mantén el título pegado arriba */
  }
  
  .carousel {
    margin: auto; /* Centra verticalmente el carrusel */
    width: 85%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
  }
  
  .title {
    margin-top: 5px; /* Elimina los márgenes */
    padding: 10px 0; /* Espaciado interno solo hacia abajo */
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .sliderWrapper {
    margin-left: 5%;
    width: 90%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Transición suave */
  }
  
  .img {
    width: 100%;
    max-height: 30%;
    object-fit: contain;
    flex-shrink: 0; /* Impide que las imágenes se redimensionen */
    border-radius: 15px;
  }
  
  .button {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:first-of-type {
    left: 0px; /* Ajusta según sea necesario */
    z-index: 10;
  }
  
  .button:last-of-type {
    right: 0px; /* Ajusta según sea necesario */
    z-index: 10;
  }
  
  .indicators {
    display: flex;
    justify-content: center;
    position: bottom;
    gap: 8px;
    margin-bottom: 15px;
  }
  
  .indicator {
    width: 8px;
    height: 8px;
    background-color: #777;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .indicator:hover {
    background-color: #aaa;
  }
  
  .indicator.active {
    background-color: #fff;
  }
  