.contenedorDrop {
    margin-top: 3%;
    margin-left: -2%;
    padding: 0;
    background: whitesmoke
}

.icon {
    width: 25px;
    height: 100%;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transición suave */
}

.icon:hover {
    box-shadow: rgba(0, 0, 0, 0.4); /* Sombra negra */
    transform: scale(1.1); /* Efecto de aumento opcional */
}

.contenedorItems {
    margin: 0 !important; /* Asegura que no haya margen */
    padding: 0 !important; /* Elimina cualquier padding */
    list-style: none; /* Elimina cualquier estilo de lista */
}

.items {
    margin-bottom: 0px !important; /* Asegura que no haya margen en los items */
    padding: 0.5rem 1rem !important; /* Ajusta el padding según sea necesario */
    text-align: left;
    background-color: #d9d9d9;
}

.botonCerrar {
    background-color: rgb(221, 87, 87);
    color: white !important; /* Color de texto en hover */
}

.botonCerrar:hover {
    background-color: rgb(253, 167, 167);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: background-color 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease; /* Transición suave */
}

.textCerrar {
    font-weight: bold;
}
