.contenedorDatos {
    margin: 0 0 -4 10;;
}

.estadoActivo {
    margin: 0 0 -6 0;
    color: green;
    font-weight: bold;
}

.estadoInactivo {
    color: #555555;
    font-weight: bold;
}

.tiempo {
    color: white;
}

.area {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 -7 0;
}