.prodReal {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #131313;
    border-radius: 15px;
    padding: 20px;
}

.titulo {
    text-align: left;
    font-size: 1vw;
    color: #d9d9d9;
}

.subtitulo
{
    width: 100%;
    font-size: 0.8vw;
    color: #FFAA44;
}

.graf {
    width: 100%;
    margin-top: 20px;
}
