@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1F1F1F;
}
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: system-ui;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.p-1 {
  padding: 10;
}

.bg-content1 {
  background-color: transparent;
}

.bg-default-100 {
  background-color: #1F1F1F;
  transition: ease 0.3s;
}

.hover\:bg-default-200:hover {
  background-color: #333 !important;
  transition: ease 0.3s;
  transform: scale(1.05);
}

.text-default-600 {
  color: #d9d9d9 !important;
}

.text-default-500 {
  color: #b5b5b5;
}

.bg-content1 {
  background-color: #1f1f1f;
}

.pb-2 {
  color: #d9d9d9;
  background-color:#2a2a2a !important;
}

.pb-2 .text-default-400 {
  background-color: #1F1F1F !important;
}

.pb-2 .text-foreground {
  color: #d9d9d9;
}

.text-foreground[aria-disabled="true"] {
  color: #6c6c6c !important;
}

.text-default-foreground {
  color: #d9d9d9;
}

.data-\[editable\=true\]\:text-foreground[data-editable="true"] {
  color: #8c8c8c !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

.text-default-foreground:hover {
  background-color: rgba(221, 221, 221, 0.1) !important;
  border-radius: 15px !important;
}

.text-foreground {
  color: #656565;
}

.border-b-primary {
  border-bottom-color: #712f;
}

.items-start {
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.vjs-loading-spinner {
  margin-top: 26vh !important; /* Ajusta este valor según tus necesidades */
}

.customSelect .text-foreground-500 {
  font-weight: bold; /* Aplica negrita solo a los labels dentro del Select */
}
