@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1F1F1F;
}
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: system-ui;
  overflow-x: hidden;
}

/* Contenedor principal que ocupa toda la pantalla */
.scrollablecontent {
  height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollablecontent::-webkit-scrollbar {
  display: none;  /* Safari y Chrome */
}

.p-1 {
  padding: 10;
}

.bg-content1 {
  background-color: transparent;
}

.text-default-foreground {
  color: #d9d9d9;
}

.rotate-180 {
  transform: rotate(180deg);
}

.text-default-foreground:hover {
  background-color: rgba(221, 221, 221, 0.1) !important;
  border-radius: 15px !important;
}

.text-foreground {
  color: #656565;
}

.border-b-primary {
  border-bottom-color: #712f;
}

.items-start {
  align-items: center;
}
