/* Estilos del contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    padding: 10px;
    color: #d9d9d9;
    background-color: #131313;
}

/* Título */
.titulo {
    font-size: 24px;
    font-weight: bold;
    color: #d9d9d9;
    margin-bottom: 10px;
    text-align: center;
}

  /* Personalización del DateRangePicker */
.customDateRangePicker {
    background-color: #1f1f1f !important;
    border-radius: 10px !important;
    width: 100% !important;
    height: 60px !important;
    color: #ffffff !important;
    border: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px !important;
}

/* Personalización del botón activador */
.datePickerTrigger {
    background-color: #1f1f1f !important;
    border-radius: 10px !important;
    color: #ffffff !important;
    border: none !important;
}

  /* Personalización del popover (calendario desplegable) */
.datePickerPopover {
    background-color: #1f1f1f !important;
    border-radius: 10px !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2) !important;
    padding: 10px !important;
}

/* Responsividad */
@media (max-width: 768px) {
    .contenedor {
        padding: 10px;
        gap: 15px;
    }

    .titulo {
        font-size: 20px;
    }

    .customDateRangePicker {
        max-width: 100%;
    }
}
