.all {
    width: 100%;
    padding: 113px 10px 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Asegura que los hijos se estiren para tener la misma altura */
    min-height: 100vh; /* Asegura que ocupe el 100% de la altura de la ventana */
    margin: 0;
}

.Izq,
.Med,
.Der {
    flex: 1; /* Distribuye proporcionalmente el ancho */
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Asegura que los contenedores hijos ocupen el 100% de la altura */
}

.contenedor {
    display: flex;
    flex-direction: column;
    background-color: #131313;
    border-radius: 20px;
    margin: 20px 10px 0px 10px;
    flex-grow: 1; /* Permite que los contenedores hijos se expandan */
}

.h2 {
    margin: 50 0 0 0;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.selector {
    padding: 20px 10px 10px 10px;
    min-height: 30px;
    border-radius: 15px;
    font-weight: bold;
    color: #D9D9D9;
}



.datosGen {
    background-color: #131313;
    border-radius: 15px;
    padding: 10px 20px 20px 20px;
    flex-direction: column;
    color: #D9D9D9;
}

.lista {
    list-style: none;
}

.datoList {
    padding: 10px 20px;
    margin: 10px 0 0 0;
    background-color: #1F1F1F;
    border-radius: 15px;
}

.detallesDatos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    margin: 5px;
    margin-right: -5px;
    max-width: 40px;
    max-height: 40px;
    margin-left: auto;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}