.contenedores {    
    margin-top: 113px;
    display: flex;
    justify-content: center;
    height: 90%;
    width: auto;
}

.contenedor {
    background-color: #131313;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    height: 41.4vw;
    min-height: 250px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(0.9);
}

.backButton {
    position: absolute;
    top: 9rem;
    left: 20px;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    z-index: 10;
}

.backButton:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}