.contenedores {    
    margin-top: 93px;
    display: flex;
    justify-content: center;
    height: 90%;
    width: auto;
}

.contenedor {
    background-color: #131313;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 50%;
    height: 41.4vw;
    min-height: 250px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(0.9);
}