.contenedor
{
    display: flex;
    flex-direction: column;
    background-color: #131313;
    border-radius: 20px;
    margin-top: 113px;
    gap: 20px;
    width: 100%;
    height: 100%;
    max-width: 1920px;
}

.h2 {
    margin: 50 0 0 0;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}