.all {
    width: 100%;
    padding: 133px 20px 20px 20px;
}

.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0; /* Quitar el padding */
    background-color: #131313;
    border-radius: 15px;
}

.contenedorTop {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.selector {
    width: 50%;
    text-align: right;
}

.tituloSubtitulo {
    width: 50%;
    color: #D9D9D9;
    font-weight: bold;
}

.tituloSubtitulo h1 {
    font-size: 25px;
}

.tituloSubtitulo h2 {
    font-size: 20px;
}

.table {
    width: 100%;
    table-layout: fixed;
    background-color: #131313; /* Cambiar color de la tabla */
    color: #D9D9D9; /* Color del texto */
}

.table th,
.table td {
    min-width: 150px; /* Ancho mínimo para las columnas */
    max-width: 250px; /* Ancho máximo para las columnas */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    background-color: #131313; /* Fondo de las celdas */
}

/* Estilos responsivos para la tabla */
@media (max-width: 768px) {
    .table th,
    .table td {
        min-width: 100px; /* Ajuste del ancho mínimo en pantallas más pequeñas */
    }
}

.paginationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.rowsPerPageSelector {
    display: flex;
    align-items: center;
    gap: 10px;
}
