.all {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.productividad {
    width: 80%;
    display: flex;
    flex-direction: column;
    color: #D9D9D9;
    background-color: #131313;
    border-radius: 15px;
    padding: 20px;
}

.titulo {
    text-align: left;
    font-size: 1vw;
    font-weight: bold;
}

.fechaContainer {
    display: flex;
    align-items: center;
}

.fecha {
    display: inline;
    color: orange;
}

.separator {
    display: inline;
    padding: 0 5px;
    font-weight: bold;
}

.metricaContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px 0 50px;
}

.metrica {
    display: grid;
    align-items: center;
    text-align: center;
}

.metrica:first-child {
    margin-left: 0;
}

.metrica:last-child {
    margin-right: 0;
}

.valor {
    font-size: 2.5vw;
    font-weight: bold;
}

.descripcion {
    font-size: 1vw;
    color: #aaa;
}

.barraContainer {
    margin-top: 20px;
    position: relative;
}

.textoBarra {
    margin-bottom: 5px;
}

.barra {
    display: flex;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #444;
    margin-bottom: 15px;
}

.segmento {
    height: 100%;
}

.leyenda {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.itemLeyenda {
    display: flex;
    align-items: center;
    margin: 5px 10px;
}

.colorMuestra {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 5px;
}

.divisor
{
    border-top: 4px solid #ccc;
    border-radius: 15px;
    margin: 20px auto;
    width: 80%;
}

.filtro {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.segmento {
    position: relative; /* Necesario para posicionar el tooltip relativo al segmento */
    height: 100%;
}

.segmento[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    top: 50%;  /* Posiciona el tooltip en el medio vertical */
    left: 50%; /* Centra horizontalmente en el segmento */
    transform: translate(-50%, -50%); /* Ajuste para que esté exactamente centrado */
    white-space: nowrap;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.0s ease, transform 0.3s ease;
}

.segmento[data-tooltip]:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%); /* Mantiene el centro en el hover */
}

.segmento[data-tooltip]:hover::after { 
    left: auto; 
    right: 0; 
    transform: translate(0, -50%);
}
