.dropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin: 10px;
  width: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  font-size: 13px;
  color: gray;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropdown:hover {
  border-color: #007bff;
}
