.titulo {
    text-align: left;
    font-size: 1vw;
    font-weight: bold;
    color: #D9D9D9;
}

.fechaContainer {
    margin-top: -5;
    display: flex;
    align-items: center;
}

.fecha {
    display: inline;
    color: orange;
}

.separator {
    display: inline;
    padding: 0 5px;
    font-weight: bold;
    color:white
}