.contenedorDatos {
    height: 100%;
    width: 100%;;
}

.h3 {
    font-size: 0.9vw;
    height: 50%;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: background-color 0.8s ease;
    font-weight: bold;
}

.h4 {
    font-size: 0.8vw;
    height: 50%;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: background-color 0.8s ease;
}

.h3inactivo {
    font-size: 0.9vw;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: grey;
    transition: background-color 0.8s ease;
}

.datosTods {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0;
    margin: 0;
    gap: 8px;
    color: #d9d9d9;
    list-style: none;
}

.detallesDatos {
    max-height: 55px;
    width: 100%;
    height: 100%;
}

.detallesDatosDesac {
    display: flex;
    width: 100%;
    height: 100%;
}

.contenedorActivo {
    width: 100%;
    height: 100%;
}

.datosIndvGray {
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1vw;
    border-radius: 0.7vw;
    background-color: #555555;
    transition: background-color 0.8s ease;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.45);
}