.contenedorDatos {
    height: 100%;
    width: 100%;;
}

.h3 {
    font-size: 16px;
    padding: 0;
    margin: 0;
    transition: background-color 0.8s ease;
}

.h4 {
    font-size: 15px;
    padding: 0;
    margin: 0;
    transition: background-color 0.8s ease;
}

.h3inactivo {
    color: gray;
    display: flex;
    justify-content: center;
    transition: background-color 0.8s ease;
}

.datosTods {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0;
    margin: 0;
    gap: 8px;
    color: #d9d9d9;
    list-style: none;
}

.contenedorInactivo {
    margin-top: 0.7rem;
}