.prodReal {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    color: #fff;
    background-color: #131313;
    border-radius: 15px;
}

.titulo {
    text-align: left;
    font-size: 1vw;
}

.subtitulo
{
    width: 100%;
    font-size: 0.8vw;
    color: #FFAA44;
}

.grafico {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
