.all {
    width: 100%;
    padding: 133px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Asegura que los hijos se estiren para tener la misma altura */
    height: 100%;
    margin: 0;
    gap: 20px;
}

.Izq,
.Med,
.Der {
    flex: 1; /* Opcional, distribuye proporcionalmente la altura */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.datoList {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}