.datosIndvRed {
    display: grid;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #581420;
    height: 65px;
    transition: background-color 0.8s ease;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.45);
}