.datosIndvRed {
    display: flex;
    flex-direction: column;
    padding: 0.4vw 0.8vw;
    border-radius: 0.7vw;
    background-color: #581420;
    max-height: 65px;
    height: 100%;
    width: 100%;
    transition: background-color 0.8s ease;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.45);
}

.datosIndvGray {
    display: flex;
    flex-direction: column;
    padding: 0.4vw 0.8vw;
    border-radius: 0.7vw;
    background-color: #5a5a5a;
    max-height: 65px;
    height: 100%;
    width: 100%;
    transition: background-color 0.8s ease;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.45);
}